*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.conteinerTodo{
    background-color: black;
    color: white;
}